* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header_auto{
    margin-left: 44px;
    margin-right: 44px;
    font-size : 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    
    text-decoration: none;
    color :black
}

ul{
    list-style: none;
    font-size : 15px;
}

#menu{
    text-align:center;
}

a{
    padding: 15px;
}

#asidemenu{
    text-align:right;
    text-decoration:underline;
}

.gallary{
    box-sizing : 600px 400px;
    margin : 0px 300px 10px 10px;
}

#imgblock1{
    width:50%;
}

#imgblock2{
    width:50%;
}

#last1{
    width: 50%;
    float: left;
}

#footer{
    position: relative;
    margin-bottom: 60px;
}

#tweet{
    text-align: left;
    margin : 2em 1.5em 4em 1.5em;
}

#tweet_inner{
    text-align: center;
}

#col_inner{
    width : 403px;
    height : 40px;
    margin-left : 50px;
    margin-bottom : 100px;
    float: left;
    text-align:left;

}
#col_location{
    width : 403px;
    height : 40px;
    float: left;
    text-align: left;
}
#col_address{
    width : 403px;
    height : 40px;
    float: left;
    text-align: left;
}