/* 파일 이름 : css3.css */

/* ----------registor.html에 적용할 CSS----------  */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


h1{
    margin-left : 0px;
    text-align:center;
    float: center;

}

p{
    text-align: left;
    margin-left : 3em;
}


#reg_view_cot{
    float : center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right : 200px;
}

#reg_border{
    background-color: white;
    margin-left : 0;
    padding-left: 0;
    height : 15%;
    border : 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 1280px;
    box-sizing:100%;
}

input[type="text"] {
    float : right;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right : 20em;
    width: 275px;
    height: 40px;
}

input[type="tel"] {
    float : right;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right : 20em;
    width: 275px;
    height: 40px;
}

input[type="password"] {
    float : right;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right : 20em;
    width: 275px;
    height: 40px;
}

input[type="email"] {
    float : right;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right : 20em;
    width: 350px;
    height: 40px;
}

input[type="button"] {
    width : 200px;
    height : 70px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size : 30px;
    font-style : bold;

}
